{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="{% static ssets/images/logos/favicon.png %} " />
  <link rel="stylesheet" href="{% static assets/css/styles.min.css %} " />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    {% include "partials/sidebar.html" %}
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      {% include "partials/topbar.html" %}
      <!--  Header End -->
      <div class="container-fluid">
        {% block main %}{% endblock main %}
      </div>
    </div>
  </div>
  <script src="{% static assets/libs/jquery/dist/jquery.min.js %} "></script>
  <script src="{% static assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js %} "></script>
  <script src="{% static assets/js/sidebarmenu.js" %} ></script>
  <script src="{% static assets/js/app.min.js" %} ></script>
  <script src="{% static assets/libs/apexcharts/dist/apexcharts.min.js %} "></script>
  <script src="{% static assets/libs/simplebar/dist/simplebar.js" %} ></script>
  <script src="{% static assets/js/dashboard.js" %} ></script>
</body>

</html>